<!-- Main -->
<main id="main-wrapper">
    <div class="main-body">
        <div class="bio">
            <img src="assets/images/band-epk.jpg" alt="band standing on building">
            <h3>Emerging in the rock and metal music scene of Houston, TX, U.S.A. July 2023, MEMORY conveys the human
                experience through heavy, melodic, groovy, and catchy songs performed with soulful emotion and energetic
                intensity.</h3>
        </div>
        <div class="the-band">

            <!-- Category Container -->
            <div id="category-container">
                <img src="assets/images/smoke-page-bar.png" alt="smoke divider">
                <div class="title">
                    <h1>The Band</h1>
                </div>
            </div>

            <div class="content1">
                <div class="overlay-text">
                    <h2>Donnie Sage</h2>
                </div>
            </div>
            <div class="content2">
                <div class="overlay-text">
                    <h2>Joshua Touchstone</h2>
                </div>
            </div>
            <div class="content3">
                <div class="overlay-text">
                    <h2>Boz Miller</h2>
                </div>
            </div>
            <div class="content4">
                <div class="overlay-text">
                    <h2>Wade Laycook</h2>
                </div>
            </div>
        </div>
        <div class="press-photos">
            <!-- Category Container -->
            <div id="category-container">
                <img src="assets/images/smoke-page-bar.png" alt="smoke divider">
                <div class="title">
                    <h1>Press Photos</h1>
                </div>
            </div>
            <img src="assets/images/press-photo1.jpg">
            <img src="assets/images/press-photo2.jpg">
            <img src="assets/images/press-photo3.jpg">
            <img src="assets/images/press-photo4.jpg">
            <img src="assets/images/press-photo5.jpg">
            <img src="assets/images/press-photo6.jpg">
            <br>
        </div>
        <br>
        <div class="music">
            <!-- Category Container -->
            <div id="category-container">
                <img src="assets/images/smoke-page-bar.png" alt="smoke divider">
                <div class="title">
                    <h1>Music</h1>
                </div>
            </div>
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/F1eGu3iNqMI?si=zHQ2zkC14sfI8eVk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lKLVaT-KqcY?si=k33Tv9-wVG3co5qg"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ckRE-W62ieY?si=IMfLlha95OtwB45n"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <br>
        <div class="video">
            <!-- Category Container -->
            <div id="category-container">
                <img src="assets/images/smoke-page-bar.png" alt="smoke divider">
                <div class="title">
                    <h1>Video</h1>
                </div>
            </div>
            <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hvCQOd5Bk68?si=0vEfhq_8ZZpZ8_As"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- Credits -->
    <div class="credits">
        <h4>Photo Credits: Photography by Brian Lambert and Greg Holleman</h4>
    </div>
</main>