<!-- Main -->
<main id="main-wrapper">

  <!-- Fixed Background -->
  <div id="video-bg">
    <video #bgVideo autoplay muted playsinline>
      <source src="assets/videos/home-page-video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <!-- <img src="assets/images/band-background2.jpg" alt="band on stage"> -->
  </div>

  <!-- Logo -->
  <div class="logo">
    <img src="assets/images/memory-logo-white.png" alt="memory logo">
  </div>

  <!-- Content -->
  <div class="main-body">

    <br>
    <br>
    
    <!-- Category Container -->
    <div id="category-container">
      <img src="assets/images/smoke-page-bar.png" alt="smoke divider">
      <div class="title">
        <h1>Events</h1>
      </div>
    </div>

    <div class="event1">
      <a href="https://www.facebook.com/share/12DMacmiyWx/"><img src="assets/images/htown-metal-fest-flier.jpg"
          alt="event"></a>
    </div>

    <div class="latest-single">
      <h2>Check out our latest single<br> "So What"</h2>
      <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/F1eGu3iNqMI?si=zHQ2zkC14sfI8eVk"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>

    <!-- 
    <div class="content2">
      <h2>Listen to our single Fire of Truth!</h2>
      <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lKLVaT-KqcY?si=k33Tv9-wVG3co5qg"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>

    <div class="content3">
      <h2>Listen to our single Far From Home!</h2>
      <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ckRE-W62ieY?si=IMfLlha95OtwB45n"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
    -->

  </div>

  <!-- Remember Footer -->
  <div class="remember">
    <img src="assets/images/remember.png" alt="remember with smoke">
  </div>

  <!-- Credits -->
  <div class="credits">
    <h4>Photo Credits: Photography by Brian Lambert and Greg Holleman</h4>
  </div>
</main>