<!-- Main -->
<main id="main-wrapper">

    <!-- Content -->
    <div class="main-body">
        <div class="content1">
            <!-- Category Container -->
            <div id="category-container">
                <img src="assets/images/smoke-page-bar.png" alt="smoke divider">
                <div class="title">
                    <h1>Booking</h1>
                </div>
            </div>
            <br>
            <h2>Message us on <a href="https://www.facebook.com/MemoryTXOfficial">Facebook</a>,
                <a href="https://www.instagram.com/memorytxofficial">Instagram</a> or email us at <a
                    href="mailto:memoryofficial@hotmail.com">memoryofficial&#64;hotmail.com</a>!
            </h2>
            <br>
            <br>
            <img src="assets/images/sign-scout.png" alt="memory in front of marquee">
        </div>
    </div>

    <!-- Credits -->
    <div class="credits">
        <h4>Photo Credits: Photography by Brian Lambert and Greg Holleman</h4>
    </div>
</main>